a#replot, a#replot:visited {
    display:block;
    background-color: #999;
    width: 100%;
    padding:10px 0;
    text-align:center;
    border:1px solid #000;
    font-weight:bold;
    border-radius: 5px;
    color:#000;
    text-decoration: none;
    opacity:.85;
}

a#replot:hover {
    border-color:#000;
    background-color: #AAA;
}

a#replot:active {
    padding:11px 0 9px;
}

a.tabw, a.tabw:visited {
    display:inline-block;
    background-color: #999;
    width: 200px;
    height: 40px;
    font-size: 10pt;
    text-align:center;
    border:1px solid #000;
    color:#000;
}

a.tab, a.tab:visited {
    display:inline-block;
    background-color: #999;
    width: 150px;
    height: 40px;
    font-size: 10pt;
    text-align:center;
    border:1px solid #000;
    color:#000;
}

input, select, textarea {
    background-color: #fcfcfc;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    font-size: 1em;
    padding: 0.2em 0.4em;
    margin: 2px;
    border-radius: 4px;
}